/.build/
/.build-lite/
/.build-gles2/
/libmesaGL.a
/libmesaGL_gles2.a
/libmesaGL_imgui.a
/libmesaGL_lite.a
/libmesaGL_micro.a
/mesaGL_lite_test
/mesaGL_*_test
/mesaGL_gl_test
/mesaGL_rgb565_test
/mesaGL_gles2_test
/mesaGL_shader_compile_probe
/mesaGL_gles2_lite_profile_test
/mesaGL_glsl_vm_test
/mesaGL_gles2_api_test
/mesaGL_draw_validation_test
/mesaGL_multitexture_test
/mesaGL_stencil_separate_test
/mesaGL_cubemap_test
/mesaGL_implicit_lod_test
/mesaGL_texture_projection_test
/mesaGL_preprocessor_test
/mesaGL_linking_test
/mesaGL_multi_shader_test
/mesaGL_uniform_declarators_test
/mesaGL_programmable_test
/mesaGL_context_test
/mesaGL_lifecycle_test
/mesaGL_lighting_test
/mesaGL_readpixels_test
/mesaGL_polygon_offset_test
/mesaGL_raster_state_test
/mesaGL_texture_validation_test
/mesaGL_fbo_validation_test
/mesaGL_blend_state_test
/mesaGL_builtin_derivatives_test
/mesaGL_imgui_micro_framebuffer
/mesaGL_imgui_gles2_framebuffer
/mesaGL_x11_example
/mesaGL_x11_blend_example
/mesaGL_x11_stencil_example
/mesaGL_x11_fbo_example
/mesaGL_x11_contexts_example
/mesaGL_x11_texture_formats_example
/mesaGL_x11_texenv_example
/mesaGL_x11_alpha_test_example
/mesaGL_x11_shading_example
/mesaGL_x11_polygon_mode_example
/mesaGL_x11_line_width_example
/mesaGL_x11_texture_matrix_example
/mesaGL_x11_lighting_example
/mesaGL_x11_specular_example
/mesaGL_x11_multilight_example
/mesaGL_x11_fog_example
/mesaGL_x11_normalize_example
/mesaGL_x11_imgui_example
/mesaGL_x11_showcase
*.o
